.green {
  color: #0C3 !important;
}
.red {
  color: #F90 !important;
}
.blue {
  color: #0487C7 !important;
}

.extra {
  display:block !important;
  font-size: 1em;
  font-weight: bold;
}

.promotion {
  top: 150px !important;
}
